@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root{
    --border: rgba(255, 0, 0, 0);
}

::-webkit-scrollbar{
    width: 1vw;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: black;
}

html, body{
    overflow-x: hidden;
    height: auto;
    min-height: 100vh;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border);
    font-family: "Oxanium";
}

#game-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-controls > div{
    border: 2px solid var(--border);
    max-width: 15vw;
}

@media(max-width: 1100px){
    #game-controls > div{
        max-width: 60vw;
    }
}

#game-controls > button{
    margin-top: 3vh;
    width: 100%;
    height: auto;
    font-size: 2vw;
    border-radius: 5px;
    font-family: inherit;
}

@media(max-width: 1100px){
    #game-controls > button{
        font-size: 10vw;
        border-radius: 20px;
    }
}

#reset-container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid var(--border);
}

#reset-container > button{
    border-radius: 5px;
    height: 2.5vw;
    width: 2.5vw;
    border: 2px solid var(--border);
    background-color: black;
    background-image: url("../icons/icons8-reset-100.png");
}

@media(max-width: 1100px){
    #reset-container > button{
        height: 10vw;
        width: 10vw;
        border-radius: 20px;
    }
}

#game{
    margin-bottom: 3vh;
    margin-top: 3vh;
}

#player-selection{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tokens{
    min-width: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chosen{
    background-color: blue !important;
}

#tokens > div{
    cursor: pointer;
    border-radius: 5px;
    height: 2vw;
    width: 2vw;
    border: 2px solid var(--border);
    background-color: black;
}

#tokens > div:nth-child(1){
    background-image: url("../icons/icons8-x-100.png");
}

#tokens > div:nth-child(2){
    background-image: url("../icons/icons8-o-100.png");
}

#player-selection p {
    font-size: 1.5vw;
}

@media(max-width: 1100px){
    #tokens{
        min-width: 22vw;
    }
    #tokens > div{
        height: 10vw;
        width: 10vw;
        border-radius: 20px;
    }
    #player-selection p{
        font-size: 4vw;
    }
}

.row{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell{
    height: 5vw;
    width: 5vw;
    border: 2px solid black;
}

@media(max-width: 1100px){
    .cell{
        height: 20vw;
        width: 20vw;
    }
}

.icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
button{
    cursor: pointer;
}

#canvas{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 50vh;
    width: 60vw;
    background-color: white;
    opacity: 0;
    z-index: -1;
    transition: z-index 0.1s, opacity 1s ease-in-out;

}

.in-session{
    z-index: 1 !important;
    opacity: 0.75 !important;
}